@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

:root {
    --freshlime: rgba(179, 255, 82, 1);
    --mystic-orchid: rgba(239, 101, 255, 1);
    --black: rgba(3, 4, 3, 1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    cursor: none;
}


@media (min-width: 1024px) {
    .cursor-dot {
        position: fixed;
        background-color: var(--freshlime);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        /* Ensures it doesn't block interaction */
        z-index: 9999;
        /* Makes sure it appears above other elements */
    }
}

.cursor-dot.default {
    background-color: white;
}

.cursor-outline.default {
    border-color: white;
}

.cursor-outline.section1 {
    border-color: var(--black);
}

.cursor-dot.section1 {
    background-color: var(--black);
}

.cursor-dot.section2 {
    background-color: var(--black);
}

.cursor-outline.section2 {
    border-color: var(--black);
}

@font-face {
    font-family: 'vtksinsone';
    src: url('./fonts/vtks2.ttf') format('truetype');
}

@font-face {
    font-family: 'anuschka';
    src: url('./fonts/anuschka_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Exo 2';
    src: url('./fonts/Exo2-Light.otf') format('opentype');
    font-weight: 300;
    /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('./fonts/Exo2-Regular.otf') format('opentype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('./fonts/Exo2-SemiBold.otf') format('opentype');
    font-weight: 500;
    /* Regular */
    font-style: normal;
}


@font-face {
    font-family: 'Exo 2';
    src: url('./fonts/Exo2-Medium.otf') format('opentype');
    font-weight: 600;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('./fonts/Exo2-Bold.otf') format('opentype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('./fonts/Exo2-ExtraBold.otf') format('opentype');
    font-weight: 800;
    /* Extra Bold */
    font-style: normal;
}

@font-face {
    font-family: 'paladins';
    src: url('./fonts/paladins.ttf') format('truetype');
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 300;
    background-color: var(--black);
    /* Start with black background */
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    opacity: 1;
}

.overlay.hidden {
    top: -100%;
    opacity: 0;
    z-index: -1;
}
.counter {
    font-family: 'anuschka';
    color: var(--freshlime);
    /* Set default lime color */
    z-index: 3;
    text-align: center;
}


.hero_section {
    position: relative;
    background-image: url('./public/optimized_bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 135vh;
    color: #fff;
    font-family: 'vtksinsone';
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
}



@media (max-width: 480px) {
    .hero_section {
        height: 100vh;
    }
}



.hero_content {
    position: relative;
    transform: translateY(100%);
    opacity: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    bottom: 0;
    z-index: -10;
    background-image: url('./public/Lines.webp');
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    background-size: 90% auto;
    background-attachment: fixed;
    /* Adjusts the zoom level */
    opacity: 1;
    /* Optional: adjust transparency */
}

.background-wrapper {
    position: relative;
    background-image: url("./public/sloganrl.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    background-attachment: scroll;
}


@media (max-width: 480px) {
    .map_section {
        height: 100vh;
    }
}

.map_section {
    height: 140vh;
}

.map_wrapper {
    position: relative;
    background-image: url("./public/globe_dsktp.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center -15%;
    background-attachment: scroll;
    
}

/* Adjustments for mobile screens */
@media (max-width: 768px) {
    .map_wrapper {
        background-size: 120% auto;
        background-position: center 20%;
    }
}

@media (max-width: 480px) {
    .map_wrapper {
        background-image: url("./public/Globe_mob.png");
        background-size: 200% auto;
        background-position: center 50%;
    }
}


/* Responsive Adjustments */
@media (max-width: 768px) {

    /* For tablets and small screens */
    .background-wrapper {
        background-size: 700px auto;
        /* Ensure it covers the area even on smaller screens */
    }
}

@media (max-width: 480px) {
    .background-wrapper {
        background-size: 900px;
        /* Ensure it covers the area */
        background-position: center center;
        /* Center the image */
    }
}

.slogan_icon {
    position: absolute;
    top: 210vh;
    right: 80px;
    transform: translateY(-50%);
    z-index: 1;
    width: 14vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Ensure overflow is hidden to prevent background from going outside the container */
}

.background_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./public/slogan1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotateBackground 10s linear infinite;
    z-index: -1;
}

@keyframes rotateBackground {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.slogan_icon_2 {
    background-image: url('./public/smiley.png');
    position: absolute;
    top: 320vh;
    left: 80px;
    transform: translateY(50%);
    z-index: -1;
    width: 15vw;
    height: 15vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}





@media (min-width: 768px) {
    .basic-shape-polygon {
        clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
    }
}



.hero_section h3 {
    color: rgba(3, 4, 3, 1);
    text-shadow: 2px 2px 0px var(--freshlime), 0px 0px 200px rgba(255, 255, 255, 1);
    line-height: 0.9;
}

.hero_section .number {
    font-family: 'anuschka';
}

.hero_section span {
    color: var(--black);
}



.qstn-mark {
    font-family: 'anuschka';
}

.countdown {
    line-height: 1.2;
}

.countdown_separator {
    font-size: 48px;
    color: var(--mystic-orchid);
}

.location_section,
footer,
.faq_content,
.about_us_content,
.legacy_content,
.structure_content {
    font-family: 'Exo 2';
    font-weight: 600;
}


.faq_qstn_content {
    font-family: 'Exo 2';
    font-weight: lighter;
}

.scroller ul {
    font-family: 'paladins';
    color: var(--black);
}


ul li {
    line-height: 1;
}

/* .scroller[data-animated="true"] {
    position: relative;
    overflow: hidden;
    width: calc(100vw + 2rem);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-3deg);
    transform-origin: center center;
}
 */

.location_section {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.opacity-100 {
    opacity: 1;
    visibility: visible;
}

.opacity-0 {
    opacity: 0;
    visibility: hidden;
}

.circle {
    animation: moveUpDown 1.4s ease-in-out infinite;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-18px);
    }

    100% {
        transform: translateY(0);
    }
}




.scroller[data-animated="true"] {
    position: absolute;
    top: 120vh;
    left: -10px;
    overflow: hidden;
    width: 100vw + 12vw;
    height: 6rem;
    transform-origin: center center;
}

@media (max-width: 480px) {
    .scroller[data-animated="true"] {
        top: 100vh;
    }
}


.scroller[data-animated="true"] .scroller_inner {
    display: flex;
    animation: scroll 30s linear infinite;
    width: max-content;
    justify-content: center;
}

@media (max-width: 480px) {
    .scroller[data-animated="true"] {
        height: 4rem;
    }

    .scroller[data-animated="true"] .scroller_inner {
        animation: scroll 20s linear infinite;
    }
}

.faq_heading,
.legacy_heading,
.structure_heading,
.sponsors_heading,
.about_us_heading,
.glimpses_heading {
    font-family: 'vtksinsone';
}

.highlights_section span {
    font-family: 'vtksinsone';
}

.odometer-value,
.odometer-formatting-mark {
    font-family: 'anuschka' !important;
}

.odometer-formatting-mark {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.odometer-plus {
    font-family: 'anuschka';
    vertical-align: top;
}

.highlights_section h6 {
    font-family: 'anuschka';
}

.highlights_section h6 .odometer-plus {
    font-family: 'anuschka';

}




.register_section {
    font-family: 'vtksinsone';
}



@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-25%);
    }
}




.accordion-btn {
    transition: border-radius 0.3s ease;
}

/* Rounded corners for the content when it's opened */
.faq-content {
    transition: max-height 0.3s ease, border-radius 0.3s ease;
}

.faq_bg_transition {
    background-color: rgba(20, 20, 20, 0.8);
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.4s ease-out, transform 0.04s ease-out;
}


.faq_bg_transition.active {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 1.92%, #000 40%);
    background-size: cover;
    /* Ensures the gradient covers the whole footer */
    color: white;
    /* Keeps text color white for readability */
    position: relative;
    /* Ensures background gradient stays behind content */
    z-index: 1;
    /* Places the background below content */
}

.footer_scroller ul li {
    font-family: 'vtksinsone';
    /* font-size: 250px; */
}



.footer_scroller[data-animated="true"] .scroller_inner {
    animation: scroll 30s linear infinite;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 650px;
    row-gap: 1rem;
    /* Fixed height */
    overflow: hidden;
}

.animate-img {
    width: 100%;
    height: auto;
    animation: moveImages 10s linear infinite;
}

.column-1 .animate-img {
    animation-delay: 0s;
}

.column-2 .animate-img {
    animation: moveImages 10s linear infinite reverse;
    animation-delay: 2s;
}

.column-3 .animate-img {
    animation-delay: 10s;
}

@media (max-width: 767px) {

    .column {
        display: none;
    }
}

@keyframes moveImages {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}